<div class="center">
  <mat-card class="example-card" appearance="outlined">
      <mat-card-header>
        <mat-card-title>About me</mat-card-title>
      </mat-card-header>
      <img src="https://github.com/MilePrastalo/mileprastalo-website/blob/main/assets/profileImage.HEIC" alt="Profile picture">
      <mat-card-content>
        <p>
          Hello! Welcome to my website. <br/> 
          My name is Mile Prastalo and I'm iOS developer since 2020.
          I got MSc degree in Software Engineering from Faculty of Technical Sciences in Novi Sad Serbia in 2022.
          On this website you can find news about my personal projects
        </p>
      </mat-card-content>
    </mat-card>
    <mat-card class="example-card" appearance="outlined">
      <mat-card-header>
        <mat-card-title>Contact</mat-card-title>
      </mat-card-header>
      <mat-card-content>
        <p>
          Email: mile.prastalo97&#64;gmail.com
        </p>
      </mat-card-content>
    </mat-card>
</div>
<div class="center">
  <mat-card class="example-card" appearance="outlined">
      <mat-card-header>
        <div mat-card-avatar class="example-header-image"></div>
        <mat-card-title>Pill Tray</mat-card-title>
        <mat-card-subtitle>Coming soon</mat-card-subtitle>
      </mat-card-header>
      <img src= "https://github.com/MilePrastalo/mileprastalo-website/blob/main/assets/pillTray.png" alt="Photo Pill Tray home page">
      <mat-card-content>
        <p>
          Pill Tray is application that helps you track pills that you take. It allows you to set up reminders so you don't forget to take your medications or vitamins. It also provides you with a way to track your mood and sleep over time.
        </p>
      </mat-card-content>
    </mat-card>
</div>

<router-outlet />
